<div class="footer-credits">
<div class="px-4 py-2">
  {% assign year = 'now' | date: '%Y' %}
  <p class="m-2"> © Copyright {{ year }}. All Rights Reserved - {{ shop.name }} | Made with <span class="heart-icon">{% render 'icon-heart' %}</span> by <a href="https://internest.agency/" class="internest" target="_blank">Internest Agency</a></p> 
</div>
</div>
